<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> <!-- Responsive For mobile devices -->

    <title>Home - DwShop Admin Panel</title>

    <!-- JS -->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/fontawesome/all.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
</head>

<body>
<div class="container-fluid">

    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/DwShop_logo.png}" alt="DwShop Logo" width="120" height="80">
            </a>
            <!-- button for responsive navbar -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">Sales Report</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>

                </ul>

            </div>

        </nav>
    </div>

    <div>
        <h2>Manage Users</h2>
        <a class="btn btn-primary btn-custom" th:href="@{/users/new}">Create New User</a>
    </div>

    <!-- Display flash attribute -->
    <!--/*@thymesVar id="message" type=""*/-->
    <div th:if="${message != null}" class="alert alert-success ">
        [[${message}]]
    </div>

    <!--/*@thymesVar id="messageType" type=""*/-->
    <!--/*@thymesVar id="messageError" type=""*/-->
    <div th:if="${messageError != null }" class="alert alert-danger ">
        [[${messageError}]]
    </div>


    <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <thead class="table-dark">
            <tr>
                <th>User ID</th>
                <th>Photos</th>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Roles</th>
                <th>Enabled</th>
                <th></th>
            </tr>
            </thead>

            <tbody>

                <tr th:each="user : ${listUsers}">

                    <td>[[${user.id}]] </td>
                    <td><span class="fa-solid fa-image-portrait fa-3x icon-gold"></span></td>
                    <td>[[${user.email}]] </td>
                    <td>[[${user.firstName}]] </td>
                    <td>[[${user.lastName}]] </td>
                    <td>[[${user.roles}]] </td>
                    <td>
                        <a href="">
                            <span th:if="${user.enabled==true}" class="fa-solid fa-toggle-on fa-2x" style="color: goldenrod;" ></span>
                        </a>
                        <a href="">
                            <span th:if="${user.enabled==false}" class="fa-solid fa-toggle-off fa-2x" style="color: gray;" ></span>
                        </a>
                    </td>
                    
                    <td>
                        <a class="fa-regular fa-pen-to-square fa-2x icon-gold" th:href="@{'/users/edit/'+${user.id}}"
                            title="Edit this user"></a>
                        &nbsp; <!-- "non-breaking space". It is used to create a space in text that cannot be broken by word wrap. -->
                        <a class="fa-solid fa-trash-can fa-2x icon-gold link-delete"
                           th:href="@{'/users/delete/'+${user.id}}"
                           th:userId="${user.id}"
                           title="Delete this user"></a>
                    </td>

                </tr>

            </tbody>
        </table>
    </div>

    <div class="modal fade text-center" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitle">
                        Delete Confirmation
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                <span id="confirmText">

                </span>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">
                        Yes
                    </a>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        No
                    </button>
                </div>
            </div>
        </div>
    </div>



    <div class="text-center">
        <p>DwShop Control Panel - Copyright &copy; DwShop</p>
    </div>

</div>

<script>
    $(document).ready(function(){ // event-handler for delete link
        $('.link-delete').on('click', function(e){
            e.preventDefault();
            link = $(this);
            userId = link.attr('userId');
            $('#yesButton').attr('href', link.attr('href')); // Set the href attribute before showing the modal
            $('#confirmText').text('Are you sure to delete user ID: ' + userId + '?');
            $('#confirmModal').modal('show'); // Show the modal after setting the href attribute
        });
    });
</script>


</body>
</html>