<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:margin="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0"> <!-- Responsive For mobile devices -->

    <title>[[${pageTitle}]]</title>

    <!-- JS -->
    <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>

    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


    <!-- CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/mystyle.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">

    
</head>

<body>
<div class="container-fluid">

    <div>
        <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
            <a class="navbar-brand" th:href="@{/}">
                <img th:src="@{/images/DwShop_logo.png}" alt="DwShop Logo" width="120" height="80">
            </a>
            <!-- button for responsive navbar -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="topNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/users}">Users</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/categories}">Categories</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/brands}">Brands</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/products}">Products</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/customers}">Customers</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/shipping}">Shipping</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/orders}">Orders</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/report}">Sales Report</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/articles}">Articles</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/menus}">Menus</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/settings}">Settings</a>
                    </li>

                </ul>

            </div>

        </nav>
    </div>

    <div>
        <h2>Manage Users | [[${pageTitle}]]</h2>

    </div>

    <form th:action="@{/users/save}" method="post" style="max-width: 700px; margin: 0 auto"
          th:object="${user}" onsubmit="return checkEmailUnique(this)"> <!-- this means the form itself -->

        <input type="hidden" th:field="*{id}">
        
        <div class="border border-secondary rounded p-3">
            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    E-mail:
                </label>

                <div class="col-sm-8">
                    <input type="email" class="form-control" placeholder="Email" th:field="*{email}" required minlength="8" maxlength="128" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    First Name:
                </label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="First Name" th:field="*{firstName}" required minlength="2" maxlength="45" >
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    Last Name:
                </label>

                <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Last Name" th:field="*{lastName}" required minlength="2" maxlength="45" >
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    Password:
                </label>

                <div class="col-sm-8 tooltip-container">
                    <input th:if="${user.id == null}" type="password" class="form-control"
                           placeholder="Password" th:field="*{password}" required minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" >
                    <input th:if="${user.id != null}" type="password" class="form-control"
                           placeholder="Leave blank if you don't want to change the password" th:field="*{password}" minlength="8" maxlength="20" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%^&*]).{8,}" >
                    <span class="tooltip-text">
                        <ul>
                            <li>At least one digit: [0-9] </li>
                            <li>At least one lowercase</li>
                            <li>At least one uppercase</li>
                            <li>At least one special character: [!@#$%^&*]</li>
                            <li>Min length: 8 characters</li>
                            <li>Max length: 20 characters</li>
                        </ul>
                    </span>
                </div>

            </div>

            <div class="text-center">
                <input type="submit" value="Save" class="btn btn-primary m-3 btn-gold">
                <input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel">
            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    Roles:
                </label>

                <div class="col-sm-8">
                    <th:block th:each="role : ${listRoles}">
                        <input type="checkbox" th:field="*{roles}"
                               th:text="${role.name}"
                               th:value="${role.id}"
                                class="m-2">
                    - <small th:text="${role.description}"></small><br>
                    </th:block>
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    Enabled:
                </label>

                <div class="col-sm-8">
                    <input  type="checkbox" th:field="*{enabled}">
                </div>

            </div>

            <div class="form-group row">

                <label class="col-sm-4 col-form-label">
                    Photos:
                </label>

                <div class="col-sm-8">
                    <input class="mb-2" type="file" id ="fileImage" accept="image/png, image/jpeg">
                    <img class="img-fluid" alt="Photo Preview" th:src="@{/images/default-user.png}" id="thumbnail">
                </div>

            </div>

        </div>

    </form>

    <!-- Bootstrap 5 modal dialog box -->
    <div class="modal fade text-center" id="modalDialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title" id="modelTitle">
                        Warning
                    </h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <!-- Modal Body -->
                <div class="modal-body">
                <span id="modalBody">

                </span>
                </div>

                <!-- Modal Footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                        Close
                    </button>
                </div>
            </div>
        </div>
    </div>




    <div class="text-center">
        <p>DwShop Control Panel - Copyright &copy; DwShop</p>
    </div>

    <!-- JS -->
    <script type="text/javascript">


        $(document).ready(function () {
            $("#buttonCancel").on("click", function () {
                window.location = "[[@{/users}]]";
            });

            $("#fileImage").change(function () {
                <!-- alert("fileImage size"); -->
                fileSize = this.files[0].size;
                alert("File size: " + fileSize + " bytes")
                if (fileSize> 1048576) {
                    this.setCustomValidity("You can only upload files with size less than 1MB!");
                    this.reportValidity();
                }else {
                    this.setCustomValidity("");
                    showImageThumbnail(this);
                }
            });

        });

        function showImageThumbnail(fileInput) {
            var file = fileInput.files[0];
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#thumbnail").attr("src", e.target.result);
            };
            reader.readAsDataURL(file);

        }

        function checkEmailUnique(form) {
            // alert("checkEmailUnique"); // popup a message

            url = "[[@{/users/check_email}]]"; // get the URL from the restController
            userEmail = $("#email").val(); // get the value of the th:field with id="email"
            userId = $("#id").val(); // get the value of the th:field with id="id"

            // Security: CSRF, Cross-Site Request Forgery
            csrf = $("input[name='_csrf']").val(); // get the value of the hidden input with name="_csrf"

            params = {id: userId, email: userEmail, _csrf: csrf}; // // create a JSON object {"email": "userEmail"}


            //if (true) return false; // if the modal is true then skip the below code


            $.post(url, params, function (response) { // sing jQuery's $.post() method to send a POST request to the server
                //alert("Response from server: " + response); // popup a message for testing
                if (response == "OK") {
                    form.submit(); // submit the form
                } else if (response == "Duplicated") {
                    // alert("The email " + userEmail + " has been used by another user!");
                    showModalDialog("Warning", "The email " + userEmail + " has been used by another user!");
                } else {
                    showModalDialog("Error", "Unknown response from server!")
                }
            }).fail(function () { // callback function (by Jquery) for failed request
                showModalDialog("Error", "Could not connect to the server! ");
            })
            // this has to be outside the $.post() method to make sure the form is  submitted only after the response from the server is received
            return false; // return false to cancel the form submission
        }

        function showModalDialog(title,message){
            $("#modalTitle").text(title);
            $("#modalBody").text(message);
            // show modal dialog box
            $("#modalDialog").modal('show'); // show the modal dialog box
        }

    </script>
</div>

</body>

</html>